.header {
  padding-top: 50px;

}
.header-logo {
    display: flex;
    align-items: center;
		&__img {
      margin-right: 8px;
		}

		&__text {
      @include fw500;
      font-size: 26px;
      line-height: 31px;  
      color: $textColor;

		}
}
.header-menu {
    display: flex;
    align-items: center;
		&__item {
      @include mp0;
      @include lst;
      &:not(:last-child) {
        margin-right: 50px;
      }
		}

		&__link {
      @include fw500;
      color: $textColor;
      font-size: 14px;
      line-height: 18px;
      transition: color 0.8s;
      &:hover {
        color: $accent;
      }
		}
}
.header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30%;
		&__btn {
      color: $whiteText;
      padding: 12px 22px;
      border-radius: 4px;
      background-color: $accent;
		}
}
.container {
   max-width: 1170px;
 }

 /* lg-размер (<=1199px) */
@media (max-width: 1200px) {
   .header-logo {
      padding-left: 20px;
   }
   /* CSS для ширины от 992px до 1199px */
 }
 
 /* md-размер (<=991px) */
 @media (max-width: 991px) {
   /* CSS для ширины от 768px до 991px */
 }
 
 /* sm-размер (<=768px) */
 @media (max-width: 780px) {
   /* CSS для ширины от 576px до 767px */
   .header-menu__item:not(:last-child) {
      margin-right: 25px;
   }
 }
 @media (max-width: 780px) {
   /* CSS для ширины от 576px до 767px */

.header-menu {
   display: none;
}
.header-contacts {
   display: none;
}
 }
 
 /* xs-размер (<=575px) */
 @media (max-width: 575px) {
   /* CSS для ширины до 575px (включительно) */
 }