.projects {
padding-top: 70px;
padding-bottom: 70px;
  &__title {
    @include mp0;
    @include fw700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 55px;
    text-align: center;
  }
  &__link {
    @include fw400;
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 52px;
    margin-top: 60px;
    padding: 14px 25px;
    border-radius: 4px;
    color: $whiteText;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: rgba($color: #F35F2FBF, $alpha: 0.8);
  }
}
.container {
  // max-width: 1170px;
}

.projects-item {

  &__image {
    max-width: 400px;
    max-height: 300px;
    margin-right: 20px;
  }

  &__img {
    
  }

  &__descr {
    @include mp0;
    @include fw500; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $textColor;
    font-size: 18px;
    line-height: 26px;

  }
}
