.screen-1 {
padding-top: 100px;

&__wrp {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
}
  &__title {
    @include mp0;
    @include fw500;
    font-size: 72px;
    line-height: 85px;
  }

  &__descr {
    @include mp0;
    @include fw400;
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 24px;
  }

  &__link {
    color: $whiteText;
    background-color: $accent;
    padding: 12px 28px;
    border-radius: 4px;
  }

  &__img {
  }
}

.screen-1-info {
max-width: 500px;
}
.screen-1-image {
  display: flex;
  align-items: center;
  justify-content: end;
}


@media (max-width: 1156px) {

}
@media (max-width: 1100px) {
  .screen-1__wrp {
    align-items: center;
  }
  .screen-1__title {
    font-size: 55px;
    line-height: 50px;
  }
}

@media (max-width: 991px) {
  .screen-1__title {
    font-size: 50px;
    line-height: 60px;
  }
  .screen-1__descr {
    margin-top: 22px;
    margin-bottom: 32px;
  }
  .screen-1-info {
    max-width: 370px;
  }
}

@media (max-width: 780px) {
  .screen-1__wrp {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .screen-1-info {
    max-width: 100%;
  }
  .screen-1__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
  .screen-1__descr {
    margin-top: 22px;
    margin-bottom: 32px;
    text-align: center;
  }
  .screen-1__link {
    display: block;
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    text-transform: uppercase;
  }
  .screen-1__img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 90%;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}