.service {
padding-top: 50px;
padding-bottom: 50px;
color: $textColor;
  &__title {
    @include mp0;
    @include fw700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    padding-bottom: 40px;
  }

  &__image {
    position: relative;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin: 0 auto;
    &--active {
      background-color: rgba($color: #FF7A50D4, $alpha: 0.8);
    }
    margin-bottom: 20px;
  }

  &__img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24%;
    left: 24%;
  }

  &__subtitle {
    @include mp0;
    @include fw700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
  }

  &__descr {
    @include mp0;
    @include fw400;
    max-width: 280px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &__link {
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba($color: #FF7A50D4, $alpha: 0.8);
    & img{
      position: absolute;
      top: 23%;
      left: 22%;
    }
  }
}
.container {
  max-width: 1170px;
}
.row {
}
.service-wrp {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.service-item {
}
