.team {
&-wrp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  padding-bottom: 100px;
  color: $textColor;
  &__title {
    @include mp0;
    @include fw700;
    margin-bottom: 42px;

    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  &__image {
    width: 200px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__img {
    height: 100%;
  }
}
.container {
  // max-width: 1170px;
}

.team-item {
  text-align: center;

  &__name {
    @include mp0;
    @include fw500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3px;
  }

  &__descr {
    @include mp0;
    @include fw400;
    color: #999999;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}
.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__fb {
    margin-right: 10px;
  }

  &__tw {
    margin-right: 10px;
  }

  &__ld {
  }
}
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  .team-wrp {
    flex-wrap: wrap;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}