<footer class="footer">
<div class="container">
  <div class="row">
    <div class="col">
        <div class="header-logo">
          <picture>
            <source srcset="img/logo.avif" type="image/avif">
            <source srcset="img/logo.webp" type="image/webp">
            <img loading="lazy" src="img/logo.png" class="header-logo__img" alt="Логотип сайта">
          </picture>
          <span class="header-logo__text">DESIGNZCY</span>
        </div>
        <p class="footer__info">Metairie, 3689  Bassel Street, LA, Louisiana</p>
        <p class="footer__info">Contact us: 225-788-5489</p>
        <div class="footer-socials">
          <ul class="footer-socials__list">
            <li class="footer-socials__item">
              <a href="#" class="footer-socials__link">
                <img src="img/Youtube.png" alt="">
              </a>
            </li>
            <li class="footer-socials__item">
              <a href="#" class="footer-socials__link">
                <img src="img/Facebook.png" alt="">
              </a>
            </li>
            <li class="footer-socials__item">
              <a href="#" class="footer-socials__link">
                <img src="img/Youtube.png" alt="">
              </a>
            </li>
            <li class="footer-socials__item">
              <a href="#" class="footer-socials__link">
                <img src="img/Twitter.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    <div class="col">
      <div class="footer-menu">
        <div class="footer-menu__left">
          <nav>
            <h3 class="footer-menu__title">Category</h3>
            <ul class="footer-menu__list">
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Home</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">About</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Services</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Reviews</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Article</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer-menu__right">
          <nav>
            <h3 class="footer-menu__title">About</h3>
            <ul class="footer-menu__list">
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Partners</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Careers</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Press</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Community</a>
              </li>
              <li class="footer-menu__item">
                <a href="#" class="footer-menu__link">Support</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="footer-action">
        <h3 class="footer-action__title">Subscribe newsletter</h3>
        <p class="footer-action__info">Sign up for tips, new offers, and exclusive promos.</p>
        <input class="footer-action__inp" type="text" name="" id="">
        <a href="#" class="footer-action__sub">Subcribe</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer-botm">
      <div class="col">
        <p class="footer-bottom__info">© 2021 Designzcy - All rights reserved.</p>
      </div>
      <div class="col">
        <ul class="footer-botm__list">
          <li class="footer-botm__item">
            <a href="#" class="footer-botm__link">Privacy</a>
          </li>
          <li class="footer-botm__item">
            <a href="#" class="footer-botm__link">Security</a>
          </li>
          <li class="footer-botm__item">
            <a href="#" class="footer-botm__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
