<section class="screen-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="screen-1-info">
          <h1 class="screen-1__title">Smart Web <br>
            Design Agency</h1>
          <p class="screen-1__descr">We will provide best web design and business devlopment
            service clients expectation and satisfaction guarantee.</p>
          <a href="#" class="screen-1__link">Free consultation</a>
        </div>
      </div>
      <div class="col">
        <div class="screen-1-image">
          <picture>
            <source srcset="img/section1-img.avif" type="image/avif">
            <source srcset="img/section1-img.webp" type="image/webp">
            <img loading="lazy" src="img/section1-img.png" class="screen-1__img" alt="Обложка">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>