<section class="projects">
  <div class="container">
    <div class="row">
      <h2 class="projects__title">Our Creative Latest Projects
      </h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project1.avif" type="image/avif">
              <source srcset="img/projects/project1.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project1.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">Business Consultant Landing Page</p>
        </div>
      </div>
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project2.avif" type="image/avif">
              <source srcset="img/projects/project2.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project2.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">Food delivery Web Design</p>
        </div>
      </div>
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project3.avif" type="image/avif">
              <source srcset="img/projects/project3.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project3.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">Messenger landing Page</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project4.avif" type="image/avif">
              <source srcset="img/projects/project4.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project4.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">e-Leraning Web Design</p>
        </div>
      </div>
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project5.avif" type="image/avif">
              <source srcset="img/projects/project5.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project5.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">Doctor’s Consultant Landing Page</p>
        </div>
      </div>
      <div class="col">
        <div class="projects-item">
          <div class="projects-item__image">
            <picture>
              <source srcset="img/projects/project6.avif" type="image/avif">
              <source srcset="img/projects/project6.webp" type="image/webp">
              <img loading="lazy" src="img/projects/project6.png" class="projects-item__img" alt="Обложка">
            </picture>
          </div>
          <p class="projects-item__descr">e-Leraning Web Design</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#" class="projects__link">View all Projects</a>
      </div>
    </div>
  </div>
</section>