<section class="service">
  <div class="container">
    <div class="row">
      <h2 class="service__title">What Service We’re Offering</h2>
    </div>
    <div class="row">
      <div class="service-wrp">
        <div class="service-item">
          <div class="service__image service__image--active">
            <img class="service__img" src="img/svg/imac.svg" alt="img">
          </div>
          <h3 class="service__subtitle">Website design</h3>
          <p class="service__descr">Need something changed or is there something not quite working  the  best service</p>
          <a href="#" class="service__link"><img src="img/svg/arrow-black.svg" alt="arrow"></a>
        </div>
        <div class="service-item ">
          <div class="service__image service__image--active">
            <img class="service__img" src="img/svg/code.svg" alt="img">
          </div>
          <h3 class="service__subtitle">Web development</h3>
          <p class="service__descr">Need something changed or is there something not quite working  the  best service</p>
          <a href="#" class="service__link"><img src="img/svg/arrow-black.svg" alt="arrow"></a>
        </div>
        <div class="service-item">
          <div class="service__image service__image--active">
            <img class="service__img" src="img/svg/chto-to.svg" alt="img">
          </div>
          <h3 class="service__subtitle">Web application</h3>
          <p class="service__descr">Need something changed or is there something not quite working  the  best service</p>
          <a href="#" class="service__link"><img src="img/svg/arrow-black.svg" alt="arrow"></a>
        </div>
      </div>

    </div>
  </div>
</section>