<section class="team">
  <div class="container">

      <h2 class="team__title">Meet Our Team</h2>

<div class="team-wrp">



        <div class="team-item">
          <div class="team__image">
            <picture>
              <source srcset="img/team1.avif" type="image/avif">
              <source srcset="img/team1.webp" type="image/webp">
              <img loading="lazy" src="img/team1.png" class="team__img" alt="Обложка">
            </picture>
          </div>
          <h3 class="team-item__name">Amanda Linda </h3>
          <p class="team-item__descr">Executive officer</p>
          <div class="team-socials">
            <div class="team-socials__fb">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__tw">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__ld">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
          </div>
        </div>

 
        <div class="team-item">
          <div class="team__image">
            <picture>
              <source srcset="img/team2.avif" type="image/avif">
              <source srcset="img/team2.webp" type="image/webp">
              <img loading="lazy" src="img/team2.png" class="team__img" alt="Обложка">
            </picture>
          </div>
          <h3 class="team-item__name">Amanda Linda </h3>
          <p class="team-item__descr">UX/UI DESIGNER</p>
          <div class="team-socials">
            <div class="team-socials__fb">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__tw">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__ld">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
          </div>
        </div>


        <div class="team-item">
          <div class="team__image">
            <picture>
              <source srcset="img/team3.avif" type="image/avif">
              <source srcset="img/team3.webp" type="image/webp">
              <img loading="lazy" src="img/team3.png" class="team__img" alt="Обложка">
            </picture>
          </div>
          <h3 class="team-item__name"> Anthony Fauci </h3>
          <p class="team-item__descr">UX/UI DESIGNER</p>
          <div class="team-socials">
            <div class="team-socials__fb">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__tw">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__ld">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
          </div>
        </div>

  
        <div class="team-item">
          <div class="team__image">
            <picture>
              <source srcset="img/team4.avif" type="image/avif">
              <source srcset="img/team4.webp" type="image/webp">
              <img loading="lazy" src="img/team4.png" class="team__img" alt="Обложка">
            </picture>
          </div>
          <h3 class="team-item__name">Khalid Abbed </h3>
          <p class="team-item__descr">Head of Markter</p>
          <div class="team-socials">
            <div class="team-socials__fb">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__tw">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
            <div class="team-socials__ld">
              <a href="#"><img src="img/Ld.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>