<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="testimonials__header">Testimonials</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="testimonials-list">
          <li class="testimonials-item testimonials-item--1">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/1.avif" type="image/avif">
                <source srcset="img/Testimonials/1.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/1.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>

          <li class="testimonials-item testimonials-item--2">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/2.avif" type="image/avif">
                <source srcset="img/Testimonials/2.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/2.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>

          <li class="testimonials-item testimonials-item--3">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/3.avif" type="image/avif">
                <source srcset="img/Testimonials/3.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/3.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>

          <li class="testimonials-item testimonials-item--4">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/4.avif" type="image/avif">
                <source srcset="img/Testimonials/4.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/4.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>

          <li class="testimonials-item testimonials-item--5">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/5.avif" type="image/avif">
                <source srcset="img/Testimonials/5.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/5.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>

          <li class="testimonials-item testimonials-item--6">
            <div class="testimonials-item__squre"></div>
            <div class="testimonials__image">
              <picture>
                <source srcset="img/Testimonials/4.avif" type="image/avif">
                <source srcset="img/Testimonials/4.webp" type="image/webp">
                <img loading="lazy" src="img/Testimonials/4.png" class="testimonials__img" alt="Обложка">
              </picture>
            </div>
            <div class="testimonials-info testimonials-info--show">
              <p class="testimonials-info__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leoa.</p>
              <h3 class="testimonials-info__name">Alina Jesia</h3>
              <p class="testimonials-info__dop">DBL Company LTD</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>