<section class="webserv">
  <div class="container">
    <div class="row">
      <div class="col ">
        <h2 class="webserv__title">We Provide the Best Web services</h2>
      </div>
    </div>
    <div class="row">
      <ul class="webserv-list">
        <li class="webserv__item">
          <div class="webserv__image webserv__image--green">
            <img src="img/svg/rocket.svg" alt="img" class="webserv__img webserv__img--1">
          </div>
          <div class="webserv-count">
            <span class="webserv-count__elem">5200+</span>
          </div>
          <p class="webserv__descr">Projects completed
          </p>
        </li>
        <li class="webserv__item">
          <div class="webserv__image webserv__image--blue">
            <img src="img/svg/people.svg" alt="img" class="webserv__img webserv__img--2">
          </div>
          <div class="webserv-count">
            <span class="webserv-count__elem">500+</span>
          </div>
          <p class="webserv__descr">Active clients
          </p>
        </li>
        <li class="webserv__item">
          <div class="webserv__image webserv__image--red">
            <img src="img/svg/hand-star.svg" alt="img" class="webserv__img webserv__img--3">
          </div>
          <div class="webserv-count">
            <span class="webserv-count__elem">4500+</span>
          </div>
          <p class="webserv__descr">Happy clients
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>